/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #800000; /* Maroon color */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container Styles */
.container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Content Styles */
.content {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #800000; /* Maroon color */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon i {
    margin-right: 10px;
}
